@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}
.formulario form{
    max-width: 80%;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 1rem  3rem;
}
.formulario h2{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 32px;
    text-align: left;
    margin: 0;
}

